/*Заглавие*/
.top {
	color: black;
	margin: auto;
	width: 1200px;
	font-size: 30px;
	font-family: Colibri;
	text-align: center;
	background: gray;
}
/*Основа под соцсети*/
.basis {
	padding-top: 5px;
	display: inline-block;
	position: relative;
}
/*Инстаграм*/
a.insta{
	display: inline-block;
	position: absolute;
	top: 142px;
	left: 1px;
	color: white;
	font-family: Arial;
	font-size: 14px;
	color: black;
	padding: 5px 5px;
}
/*Фейсбук*/
.face {
	display: inline-block;
	position: absolute;
	top: 142px;
	left: 56px;
	color: black;
	font-family: Arial;
	font-size: 14px;
	padding: 5px 5px;
}
/*Картинка*/
.basis img {
	width: 1200px;

}
/*Размеры картинки которые были изменены*/
.basis.image {
	width: 1200px;
}
/*Специальный отступ*/
.region label {
	margin-left: 20px;
}
/*Второй специальный отступ*/
.region label1 {
	margin-left: 80px;
}

.region label3 {
	margin-left: 10px;
	font-size: 22px;
	color: black;
	font-family: Arial;
}

.region label4 {
	margin-left: 20px;
	font-size: 22px;
	color: black;
	font-family: Arial;	
}

select {
	margin-top: 2px;
}
/*Первый селект "Области"*/
select.val1 {
	background-color: powderblue;
	font-size: 22px;
	width: 200px;
}
/*Второй селект "Города"*/
select.val2 {
	background-color: powderblue;
	font-size: 22px;
	width: 200px;
}
/*Третий селект "Специализации"*/
select.spec {
	background-color: powderblue;
	font-size: 22px;
	width: 200px ;
	margin-left: 20px;

}
/*Четвертый селект "Улицы"*/
input.street {
	border: 1px solid powderblue;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #ffffff !important;
	outline: none;	
	font-size: 20px;
	width: 200px ;
	
}

/*Подлоджка под ВСЁ*/
.all {
	width: 1200px; 
	border-radius: 5px; 
	opacity: 0.7; 
	margin: auto;
	background: #20B2AA;
}
/*Подключение гугл карт*/
#map {
	 margin-left: 2px;
	 width: 595px;
     height: 400px;
     background-color: grey;
}

#pano {
	margin-top: -400px;
	left: 602px;
	width: 595px;
    height: 400px;
    background-color: grey;
}
/*Кнопка "Поиска"*/
.butt {
	margin-bottom: 2px;
	color: black;
	background-color: powderblue;
	width: 150px;
	height: 28px;
	font-size: 20px;
}

.basis img.image2 {
	width: 50px;
	height: 50px;
}

.basis img.image3 {
	width: 50px;
	height: 50px;
}